<div class="slideshow-container">
  <div class="mySlides fade">
    <img src="https://adsmg.mangahere.cc/4/2019/4/16/69b92399a92744dc.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="https://adsmg.mangahere.cc/4/2019/1/17/1d9a642935e845f2.jpg" style="width:100%">
  </div>

  <div class="mySlides fade">
    <img src="https://adsmg.mangahere.cc/3/2019/1/7/45ec18acc8b5482e.jpg" style="width:100%">
  </div>
</div>

<br>
  

<div class="home-pg-links-container">
  <a href="/manga/mylist">My List</a>
  <a class="margin-left" href="/manga/all">View All Mangas</a>
  <form action="/manga/search">
    <input class="search-fld" type="text" name="search">
    <button class="btn">Search</button>
  </form>
</div>

<section class="random-mangas">
  <% for (let manga of mangas) { %>
    <div class="top-manga ui-card">
      <section id="top">
        <div class="image-wrapper">
          <img src="<%= manga.image_url %>" alt="">
        </div>
      </section>
      <section class="content" id="bottom">
        <h3><a href="/manga/<%= manga.id %>"><%= manga.title %></a><h3>
        <h3>by <%= manga.author %></h3>
      </section>
    </div>
  <% } %>
</section>