<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Mango DB</title>
    <link rel="stylesheet" href="/style.css">
</head>
<body>
    <div class="page-wrapper">
        <nav>
            <a href="/"><span>Mango DB</span></a>

            <% if (userId) { %>
                <form action="/logout" method="POST">
                    <input type="hidden" name="_method" value="delete">
                    <button class="btn">Logout</button>
                </form>
            <% } else { %>
                <a href="/login">Login</a>
            <% } %>
            <% if (userId) { %>
                <p>
                    Logged in as <%= user.username %>
                </p>
            <% } else { %>
                <a href="/signup">Sign Up</a>
            <% } %>
        </nav>

        <%- body %>

    </div>    

    <script src="/app.js"></script>
</body>
</html>