<div class="form-wrappers">
    <form action="/manga/new" method="POST">
        <label for="">Title</label>
        <input class="input-fld" type="text" name="title">
        <label for="">Author</label>
        <input class="input-fld" type="text" name="author">
        <label for="">Image URL</label>
        <input class="input-fld" type="text" name="image_url">
        <label for="">Synopsis</label>
        <textarea name="synopsis" cols="76" rows="10"></textarea>
        <button class="btn">Add Manga</button>
    </form>
</div>