<form action="/manga/new" method="POST">
    <label for="">Title</label>
    <input type="text" name="title">
    <label for="">Image URL</label>
    <input type="text" name="image_url">
    <label for="">Synopsis</label>
    <textarea name="synopsis" cols="76" rows="10"></textarea>
    <button>Add Manga</button>
</form>