<h1>Sign Up</h1>

<form action="/signup" method="POST">
    <label for="">Email</label>
    <input class="input-fld" type="email" name="email">
    <label for="">Username</label>
    <input class="input-fld" type="text" name="username">
    <label for="">Password</label>
    <input class="input-fld" type="password" name="password">
    <button class="btn">Create Account</button>
</form>

<h2><a href="/login">Already have an account?</a></h2>