<h1>Sign Up</h1>

<form action="/signup" method="POST">
    <label for="">Email</label>
    <input type="email" name="email">
    <label for="">Username</label>
    <input type="text" name="username">
    <label for="">Password</label>
    <input type="password" name="password">
    <button>Create Account</button>
</form>

<h2>Already have an account?</h2>
<form action="/login">
    <button>Login</button>
</form>