* {
    box-sizing: border-box;
    font-family: 'Lato', sans-serif;
    /* border: 1px solid red; */
}

body {
    background-color: #A2B7C6;
    color: #161925;
}

nav {
    display: flex;
    align-items: center;
    margin: 0 0 20px 0;
    padding: 0 0 20px 0;
    border-bottom: 2px solid #1D3557;
}

.margin-left {
    margin-left: auto;
    padding: 0 10px 0 0;
}

nav span {
    font-size: 48px;
}

.home-pg-links-container {
    display: flex;
    align-items: center;
    font-size: 22px;
    margin: 0 0 20px 0;
    padding: 20px 0 20px 0;
    border-top: 2px solid #1D3557;
}

.bookmark-btn-wrapper{
    display: flex;
    justify-content: right;
}

.max-width-card {
    max-width: 400px;
}

.bookmark-btn {
    background: none;
    color: inherit;
    border: none;
    padding: 0;
    font: inherit;
    cursor: pointer;
    outline: inherit
}

a:visited {
    color: #1D3557;
}

.page-wrapper {
    max-width: 80%;
    margin: auto;
}

.ui-card-wrapper {
    display: flex;
    justify-content: center;
}

.ui-card {
    background-color: #FFFFFF;
    border-radius: 10px;
    overflow: hidden;
    border: 2px solid #6096BA;
}

.image-wrapper {
    height: 350px;
}

.image-wrapper > img {
    height: 100%;
}

.ui-card > img {
    width: 100%;
    display: block;
}

.ui-card #top {
    text-align: center;
    margin: 1rem 0 0 0;
}

.ui-card #bottom  {
    text-align: center;
}

.ui-card #bottom button {
    background-color: transparent;
}

.ui-card p {
    text-align: justify;
}

.content {
    padding: 2%;
}

.footer {
    margin-top: 20px;
    text-align: center;
    border-top: 2px solid #1D3557;
}

.random-mangas, .my-bookmarked-mangas {
    display: grid;
    grid-template-columns: 1fr 1fr 1fr 1fr;
    gap: 50px;
    justify-content: center;
    margin: 0 auto;
}

.my-bookmarked-mangas {
    margin-top: 20px;
}

.alphabet-navigation {
    display: flex;
    justify-content: space-evenly;
    font-size: 16px;
    padding: 0 0 20px 0;
}

.form-wrappers {
    text-align: center;
}

.form-wrappers label {
    line-height: 2;
}

.header {
    border-bottom: 2px solid #1D3557;
}

.header h1 {
    text-align: center;
    text-decoration: underline;
}

textarea {
    display: block;
    max-width: 500px;
    max-height: 400px;
    margin: 0 auto 1rem;
}

.btn {
    background-color: #6096BA;
    color: #FFFFFF;
    font-weight: 700;
    border-radius: 4px;
    padding: 0.5rem 1rem;
}

.input-fld {
    display: block;
    padding: 0.5rem 1rem;
    margin: 0 auto 20px
}

.search-fld {
    padding: 0.5rem 1rem;
}

.slideshow-container {
    max-width: 100%;
    position: relative;
    margin: auto;
}

.mySlides {
    display: none;
}

.fade {
    animation-name: fade;
    animation-duration: 2s;
}

@keyframes fade {
    from {opacity: .3}
    to {opacity: 1}
}